<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">
    <title>reactDemo</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
</head>
<body>
<noscript>JavaScriptを有効化してください。</noscript>
<div id="root"></div>
<script src="/static/built/bundle.js"></script>
</body>
</html>